.has-action a {
  display: inline-block;
  color: black;
  margin: 0 5px;
  font-size: 17px;
}
.create-btn {
  margin-bottom: 20px;
  margin-right: 10px;
}
.red {
  color: #e00000;
}
.img-width img {
  max-width: 150px;
}
.sidebar-menu {
  padding-bottom: 50px !important;
}
select.form-control {
  padding: 3px 12px;
}
.crud-group>div, .crud-row>div {
  margin-bottom: 25px;
}
.crud-row label {
  padding: 0 5px;
}
.crud-row #created_at span, .crud-row #updated_at span {
  direction: ltr;
  display: inline-block;
}
.table-responsive {
  padding: 15px;
}
.setting-table img {
  max-width: 100px;
}
.report-error-div .table-responsive {
  height: 500px;
}
table.dataTable td {
  white-space: nowrap;
}
.ajax-action-a {
  display: inline-block;
  color: #333;
  margin: 0px 5px;
}
.crud-group .input-checkbox {
  line-height: 57px;
}
#usersTable img, #myTable img {
  max-width: 140px;
  max-height: 200px;
}